<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>Testing 2</title>
</head>

<script type="text/javascript" src="js/jquery-2.1.0.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script>var cont=0;</script>

<body>
	<h1 class="click">CLICK ME!</h1>
<script type="text/template" class="template">
		

		<h2>
			<%- frutes.listTitle %> <%-cont%>
		</h2>

		<% if (cont<frutes.listItems.length){%>
			<li>

					<%- frutes.listItems[cont].name %>

					<% if ( frutes.listItems[cont].nacional ){ %>
						<em>nacional</em>
					<% } %>
					
					<% if( frutes.listItems[cont].tipo == 'fresca' ) { %>
						<span style='color:green;'><%-frutes.listItems[cont].tipo%> </span>
					<% }else if( frutes.listItems[cont].tipo == 'pasada' ) { %>
						<span style='color:red;'><%- frutes.listItems[cont].tipo %></span>
					<% } %>


				</li>
		<%- _.now() %>
		<% } %> 


</script>
<script type="text/javascript">

_.templateSettings.variable = "frutes";

var template = _.template(
			$( "script.template" ).html()
		);


var templateData = {
			listTitle: "Lista de Frutas",
			listItems: [
				{
					name: "Manzana",
					tipo: "fresca",
					nacional: true
				},
				{
					name: "Platano",
					tipo: "pasada",
					nacional: true
				},
				{
					name: "Pera",
					tipo: "fresca",
					nacional: false
				},
				{
					name: "Melón",
					tipo: "fresca",
					nacional: false
				}
			]
		};

$( "h1" ).after(
			template( templateData )
		);


</script>
<script>
$('.click').bind("click",function(){
	cont++;

		$( "h1" ).after(
			template( templateData )
		);

});
</script>
</body>
</html>