@font-face { font-family: 'Frutiger57C'; src: url('ufonts.com_frutiger_57_condensed.ttf'); }

/**{*/
    /*border: 1px solid red !important;*/
/*}*/
#content {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 689px;
    overflow: hidden;
    background-image: url(../images/cube-background.jpg);
    background-size: 1024px 768px;
	display: none;
    z-index: 1;
}

* {
	margin:0;
	padding:0;
}

#whiteLogo {
    width: 162px;
    height: 71px;
    position: absolute;
    bottom: 39px;
    right: 19px;
    z-index: 9999;
}

#patient-profile {
    position: relative;
    overflow:hidden;
    z-index: 1;
    width:568px;
    height:589px;
    background-color: #757584;
    -webkit-transition: opacity 0.5s ease-out;
    -webkit-perspective: 900px;
}

#page-flip.show {
	opacity: 1;
}




#patient-profile #tabs #tab1,
#patient-profile #tabs #tab2,
#patient-profile #tabs #tab3 {
	float:left;
	width: 130px;
	margin-left:21px;
	padding-top: 7px;
	padding-bottom: 5px;
	text-align:center;
	background: -webkit-gradient(linear, 0% 0%, 0% 43%, from(#8B39A9), to(#7B3395), color-stop(.6,#7B3395));
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color:white;
	font-family: 'FrutigerLTStd-Bold';
	font-size:13px;
}


#patient-profile #tabs #tab2,
#patient-profile #tabs #tab3 { 
	display:inline;
	margin-left:5px;
}

#patient-profile #tabs #tab1.active,
#patient-profile #tabs #tab2.active,
#patient-profile #tabs #tab3.active {
	background: #E7DCED;
	color: #7B3495;
}

#patient-profile .patient-info {
	width: 100%;
	color: white;
    height: 220px;
}

#patient-profile .patient-image {
    width: 160px;
    height: 130px;
    margin: 28px;
    float:left;
    background-image:url(../images/patient-6-profile.png);
    background-size: 100%;
    background-repeat:no-repeat;
    border: 2px solid #354052;
}
#patient-profile .patient-image.noimg { display: none; }

#patient-profile .patient-name {
	width: 550px;
	font-size: 18px;
	padding-top:25px;
	font-family: 'FrutigerLTStd-Bold';
}
#patient-profile .patient-name.noimg { margin-left: 20px; padding-top: 40px; }

#patient-profile .patient-divider {
	background-color:white;
	height:1px;
	width: 320px;
	margin-left:220px;
	margin-top:10px;
    margin-bottom: 15px;
}
#patient-profile .patient-divider.noimg { width: 93.5%; margin-left: 20px; }

#page-flip .patient-summary {
	padding: 5px 0 5px 3px;
	color:#ffffff;
	font-size:14px;
	font-family: FrutigerLTStd-Cn;
    width: 155px;
    position: absolute;
    top: 80px;
    right: 00px;
    height: 160px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
#page-flip .patient-summary ul{
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    padding-left: 18px;
}
#page-flip .patient-summary ul li{
    margin-bottom: 5px;
    list-style-position: outside;
}

#page-flip .btn-back-cube{
    width: 158px;
    height: 189px;
    background-image: url("../images/btn-back-cube.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 96px 31px;
    background-position-x: 30px;
    background-position-y: 155px;
    position: absolute;
    bottom: 169px;
    right: 0px;
    border-bottom: 1px solid #ffffff;
    padding-top:14px;
    z-index: 901;
}


#patient-profile .patient-summary span{
    color: #fdb825;
    font-size: 26px;
}
#patient-profile .patient-summary.noimg { margin-left: 10px; padding-bottom: 30px; }

#patient-profile .middle-banner {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Frutiger57C';
    display: block;
    width: 440px;
    font-weight: bold;
    line-height: 21px;
    margin-top: 22px;
}

#patient-profile .middle-banner span{
    color: #FFB70D;
    font-size: 37px;
    font-family: 'Frutiger57C';
}

#patient-profile .middle-banner b span span.percentage{
    font-size: 22px;
    vertical-align: 8px;
}

#patient-profile .middle-banner-button {
	width: 88px;
    height: 32px;
	display:block;
	clear:both;
    background-image: url("../images/btn-see-data.png");
    background-repeat: no-repeat;
    background-size: 88px 32px;
    position: relative;
    left: 455px;
    top: -45px;
    z-index: 901;
}


#patient-profile .middle-banner.noimg { margin-bottom: 30px; }

#patient-profile #variable-data-wrapper {
    position: relative;
    color: #371E43;
    width: 506px;
    display:block;
    margin-left:21px;
    font-size:16px;
    clear:both;
    font-family: 'FrutigerLTStd-Roman';
    height: 249px;
    overflow: hidden;
    background-image: url("../images/tab-content-bg.png");
    background-size: auto 270px;
    padding: 10px 15px 10px 10px;
    border-bottom: 15px solid #ffffff;
}

#patient-profile #variable-data-wrapper #variable-data{
  height: 235px;
  display:block;
  position: relative;
  clear:both;
  overflow: hidden;
}

#patient-profile #variable-data-wrapper #variable-data ul {
	margin:8px 0 0 0;
	padding:0 0 0 8px;
    padding-left: 25px;
}

#patient-profile #variable-data-wrapper #variable-data ul li {
	margin:0 0 10px 0;
    list-style-position: outside;
}

#patient-profile #variable-data-wrapper #variable-data ul li ul {
	margin: 8px 0 0 -8px;
}
#patient-profile #variable-data-wrapper #variable-data ul li ul li{
    list-style-position: outside;
    padding-left: 5px;
    list-style: none;
}
#patient-profile #variable-data-wrapper #variable-data ul li ul li ul li{
    list-style: square;
}
#patient-profile #variable-data-wrapper #variable-data ul li ul li ul li.dash:before{
    content: "";
}

#patient-profile #variable-data-wrapper #variable-data #variable-data-content {
	position: relative;
}

#patient-profile .patient-footer {
	text-align:left;
	padding:15px 10px 10px;
	width: 440px;
	color: black;
	margin-left:11px;
	font-size:11px;
	clear:both;
	font-family: 'FrutigerLTStd-Roman';
  position: absolute;
  left: 35px;
  top: 485px;
  height: 50px;
}

#patient-profile #page-fold {
	height:76px;
	width:86px;
	position:absolute;
	top:470px;
	left:514px;	
	background-image:url(../images/pagefold.png);
    background-size: 100%;
}

#patient-profile #page-fold2 {
	position:absolute;
	height:99%;
	width:99%;
	top:0.5%;
	left:0.5%;
	background:rgba(89, 50, 108, 0.97);
	font-family:HelveticaNeue;
	display:none;
}

.profile-ref-body {
    width: 540px;
    font-family: 'FrutigerLTStd-Cn';
    margin-bottom: 25px;
}

.profile-ref-body h1 {
	font-size:24px;
	line-height: 19px;
	font-family: 'FrutigerLTStd-BoldCn';
	font-weight: normal;
	padding-bottom:16px;
}

.profile-ref-body p {
	font-size:15px;
	line-height: 19px;
	padding-left: 4px;
    width:536px;
}

.profile-ref-body ul {
	margin-left: 20px;
	font-size:15px;
	line-height: 19px;
	margin-top:18px;
}

.profile-ref-body ul li{margin-bottom: 5px;}

.profile-ref-refs {
    width: 524px;
    bottom: 10px;
    left: 1.5%;
    border-top:2px solid #FFB70C;
    border-bottom:2px solid #FFB70C;
    padding: 15px 8px;
    margin-bottom: 20px;
}

.profile-ref-refs h1 {
	font-size:13.5px;
	font-family: 'FrutigerLTStd-BoldCn';
	font-weight: normal;
	padding-bottom:3px;
}

.profile-ref-refs ol {
	margin-left: 20px;
	font-size:13px;
	line-height: 18px;
	padding-top: 3px;
	font-family: 'FrutigerLTStd-Cn';
}

.profile-ref-refs li {
	padding-bottom: 7px;
    font-weight: bold;
}
.profile-ref-refs li:first-line {
  font-weight: normal;
}
	
.profile-ref-refs ol li span {
	font-weight: normal;
}


#popup {
	position: absolute;
	z-index: 1;
	top:65px;
	/*left:10px;*/
	width:271px;
	height:589px;
	opacity: 0.001;
	-webkit-transition: opacity 0.5s ease-out;
    background-image: url("../images/left-list-cube-bg.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 261px 589px;
}

#popup.show {
	opacity: 1;
}

#popup .header {
	width:231px;
	height:95px;
	position:relative;
	top:0;
	z-index:100;
	color: black;
	font-size: 16px;
	letter-spacing: -0.5px;
	padding: 10px 10px 10px 15px;
	display:table-cell;
	vertical-align:middle;
}

#popup .header strong {
	font-family: 'FrutigerLTStd-Bold';
	font-weight:normal;
}

.border {
	height:4px;
	width:100%;
	background: #72c5c9;
}

.shadow {
	position:absolute;
	z-index:100;
	width:258px;
	height:32px;
	background: url('../images/pop-shadow.png');
    background-size: 100%;
}

.close {
	position:absolute;
	z-index:200;
	top:14px;
	right:3px;
	width:30px;
	height:30px;
}

.close-profile {
	position:absolute;
	z-index:2;
	top:5px;
	width:32px;
	right:5px;
	height:21px;
	background: url('../images/pop-closeWhite.png') no-repeat;
    background-size: 32px 21px;
}

#shadow-top {
	top:91px;
}

#shadow-bottom {
	bottom:0;
	-webkit-transform: rotate(180deg);
}

#profile-scroller {
	width:265px;
	height:462px;
	overflow:hidden;
}

#profile-list {
	margin:0 26px;
	width:205px;
}

#wrapper {
	position: relative;
	z-index:1;
	height: 468px;
	width: 100%;
	overflow:hidden;
}
/*#profile-scroller #wrapper {*/
    /*width:273px;*/

.myScrollbarV {
	position:absolute;
	z-index:100;
	width:8px;bottom:7px;top:2px;left:5px;
}

.myScrollbarV > div {
	position:absolute;
	z-index:100;
	width:100%;

	/* The following is probably what you want to customize */
    background-color: rgba(0, 0, 0, 0.496094);
    border: 1px solid rgba(255, 255, 255, 0.898438);
	-webkit-background-clip:padding-box;
	-webkit-box-sizing:border-box;
	-webkit-border-radius:4px;
	-webkit-box-shadow:inset 1px 1px 0 rgba(255,255,255,0.5);
}

/*}*/


#scroller {
	width:100%;
}
#sliders {
	position:absolute;
	z-index:25;
	top:185px;
	left:170px;
}

#slider0 {
	position:absolute;
	z-index:5;
}

#slider0 .line {
	left:18px;
}

#slider1 {
	position:absolute;
	z-index:10;
	top:295px;
	left:34px;
	-webkit-transform: rotate(18deg);
}

#slider1 .line {
	top:20px;
}

#slider2 {
	position:absolute;
	z-index:15;
	top:389px;
	left:303px;
	-webkit-transform: rotate(-16deg);
}

#slider2 .line {
	top:21px;
}

#slider2 .box {
	-webkit-transform: rotate(2deg);
}

.box {
	position:absolute;
	z-index:5;
}

.line {
	position:absolute;
	z-index:1;
}

#cube-container {
    position: relative;
}

#experiment {
  position: relative;
  left:300px;
  top:305px;
  z-index: 5;
  -webkit-transform: scale(0.8);
  -webkit-perspective: 1000; 
  -webkit-perspective-origin: 50% 50%;
  width:400px;
}

#experiment.miniMe {
    -webkit-transform: scale(0.15);
    left: 721px !important;
    top: 375px;
}

#patient-profile-message {
    display:none;
    position: absolute;
    left: 695px;
    top: 170px;
    width: 280px;
    font-size: 22px;
    color:#FDB825;
    text-align: center;
	font-family:'FrutigerLTStd-Bold';
}

#patient-profile-message p { 
    font-size: 10px;
    color:white;
    text-align: center;
	font-family:'FrutigerLTStd-Bold';
}


#patient-profile .header{
    position: relative;
}



#cube {
  position: absolute;
  top:-200px;
  z-index:100;
  height: 400px;
  width: 10px;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(45deg);
  -webkit-transform-origin: 200px 200px;
}

#single-highlight, #column-highlight, #row-highlight, #horiz-highlight, #horiz-row-highlight, #vert-highlight, #vert-column-highlight {
  position: absolute;
  top:-200px;
  z-index:100;
  height: 400px;
  width: 10px;
  -webkit-transition: -webkit-transform 0s ease-out;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateY(45deg);
  -webkit-transform-origin: 200px 200px;
}

#single-highlight, #row-highlight {
  -webkit-transform: translateX(-105px) translateY(200px) translateZ(-105px) rotateY(45deg);
}

#column-highlight {
  -webkit-transform: translateX(-105px) translateZ(-105px) rotateY(45deg);
}

#horiz-highlight {
  -webkit-transform: translateY(100px) scaleY(.5) rotateY(45deg);
}	

#horiz-row-highlight {
  -webkit-transform: translateX(-105px) translateY(100px) translateZ(105px) scaleY(.5) rotateY(45deg);
}	

#vert-column-highlight {
  -webkit-transform: translateX(-105px) translateZ(-105px) rotateY(45deg);
}	

#vert-highlight {
  -webkit-transform: translateX(-105px) translateZ(105px) rotateY(45deg);
}


#single-highlight .face, #column-highlight .face, #row-highlight .face, #horiz-highlight .face, #horiz-row-highlight .face, #vert-highlight .face, #vert-column-highlight .face  {
  position: absolute;
  height: 400px;
  width: 400px;
  background-color: rgba(255, 60, 255, 0.2);
  -webkit-transform-style: preserve-3d;
} 

#cube .face {
    position: absolute;
    height: 400px;
    width: 400px;
    background: url('../images/glass-cube.png') no-repeat;
    background-size: 100%;
    font-size: 34px;
    line-height: 1em;
    color: #fff;
    -webkit-transform-style: preserve-3d;
    -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.5); 
    font-family: 'FrutigerLTStd-BoldCn';
}

.selected > div{
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 255, 1); 
}


#single-highlight .one  {
  -webkit-transform: rotateX(90deg) translateZ(50px);
  height: 100px;
  width: 200px;
}

#single-highlight .two {
  -webkit-transform: translateZ(50px);
  width: 200px;
  height: 200px;
}

#single-highlight .three {
  -webkit-transform: rotateY(90deg) translateZ(150px);
  height: 200px;
  width: 100px;
}

#single-highlight .four {
  -webkit-transform: rotateY(180deg) translateZ(50px);
  width: 200px;
  height: 200px;
}

#single-highlight .five {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
  height: 200px;
  width: 100px;
}

#single-highlight .six {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(150px) ;
  height: 100px;
  width: 200px;
}	

#column-highlight .one  {
  -webkit-transform: rotateZ(90deg) rotateY(90deg) translateY(-150px) translateZ(-200px);
  height: 400px;
  width: 100px;
}
#column-highlight .two {
  -webkit-transform: translateZ(50px);
  width: 400px;
}

#column-highlight .three {
  -webkit-transform: rotateY(90deg) translateZ(350px);
  width: 100px;
}

#column-highlight .four {
  -webkit-transform: rotateY(180deg) translateZ(50px);
  width: 400px;
}

#column-highlight .five {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
  width: 100px;
}

#column-highlight .six {
  -webkit-transform: rotateZ(90deg) rotateY(90deg) translateY(-150px) translateZ(200px);
  height: 400px;
  width: 100px;
}

#row-highlight .one  {
  -webkit-transform: rotateZ(90deg) rotateY(90deg) translateY(-150px) translateZ(-200px);
  height: 400px;
  width: 100px;
}

#row-highlight .two {
  -webkit-transform: translateZ(50px);
  width: 400px;
  height: 200px;
}

#row-highlight .three {
  -webkit-transform: rotateY(90deg) translateZ(350px);
  height: 200px;
  width: 100px;
}

#row-highlight .four {
  -webkit-transform: rotateY(180deg) translateZ(50px);
  width: 400px;
  height: 200px;
}

#row-highlight .five {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
  height: 200px;
  width: 100px;
}

#row-highlight .six {
  -webkit-transform: rotateZ(90deg) rotateY(90deg) translateY(-150px);
  height: 400px;
  width: 100px;
}	

#horiz-row-highlight .one  {
  -webkit-transform: rotateZ(90deg) rotateY(90deg) translateY(-50px) translateZ(-100px);
  height: 200px;
}

#horiz-row-highlight .two {
  -webkit-transform: translateX(150px) translateZ(200px);
  width: 200px;
}

#horiz-row-highlight .three {
  -webkit-transform: rotateY(90deg) translateZ(150px);
}

#horiz-row-highlight .four {
  -webkit-transform: rotateY(180deg) translateX(-150px) translateZ(200px);
  width: 200px;
}

#horiz-row-highlight .five {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
}

#horiz-row-highlight .six {
  -webkit-transform: rotateZ(90deg) rotateY(90deg) translateY(-50px) translateZ(300px);
  height: 200px;
}	

#vert-highlight .one  {
  -webkit-transform: rotateZ(90deg) rotateY(90deg) translateY(-50px) translateZ(-100px);
  height: 200px;
}

#vert-highlight .two {
  -webkit-transform: translateX(150px) translateZ(200px);
  width: 200px;
}

#vert-highlight .three {
  -webkit-transform: rotateY(90deg) translateZ(150px);
}

#vert-highlight .four {
  -webkit-transform: rotateY(180deg) translateX(-150px) translateZ(200px);
  width: 200px;
}

#vert-highlight .five {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
}

#vert-highlight .six {
  -webkit-transform: rotateZ(90deg) rotateY(90deg) translateY(-50px) translateZ(300px);
  height: 200px;
}

#vert-column-highlight .one  {
  -webkit-transform: rotateZ(90deg) rotateY(90deg) translateY(-50px) translateZ(-100px);
  height: 200px;
  width: 100px;
}

#vert-column-highlight .two {
  -webkit-transform: translateZ(50px);
  width: 200px;
}

#vert-column-highlight .three {
  -webkit-transform: rotateY(90deg) translateZ(150px);
  width: 100px;
}

#vert-column-highlight .four {
  -webkit-transform: rotateY(180deg) translateZ(50px);
  width: 200px;
}

#vert-column-highlight .five {
  -webkit-transform: rotateY(-90deg) translateZ(50px);
  width: 100px;
}

#vert-column-highlight .six {
  -webkit-transform: rotateZ(90deg) rotateY(90deg) translateY(-50px) translateZ(300px);
  height: 200px;
  width: 100px;
}

#cube .one, #horiz-highlight .one  {
  -webkit-transform: rotateX(90deg) translateZ(200px);
}

#cube .two, #horiz-highlight .two {
  -webkit-transform: translateZ(200px);
}

#cube .three, #horiz-highlight .three {
  -webkit-transform: rotateY(90deg) translateZ(200px);
}

#cube .four, #horiz-highlight .four {
  -webkit-transform: rotateY(180deg) translateZ(200px);
}

#cube .five, #horiz-highlight .five  {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
}

#cube .six, #horiz-highlight .six {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px) ;
}	

#cube .seven  {
  -webkit-transform: rotateX(90deg) translateZ(0px);
}

#cube .eight {
  -webkit-transform: rotateY(180deg) translateZ(100px);
}

#cube .nine {
  -webkit-transform: rotateY(180deg) translateZ(0px);
}

#cube .ten {
  -webkit-transform: translateZ(100px);
}

#cube .eleven {
  -webkit-transform: rotateY(90deg) translateZ(0px);
}

#lines .five p, #lines .two p, #lines .three p{ text-align:center; margin-top: 410px; }
#lines .four p { -webkit-transform: translateY(150px) translateX(230px) rotateZ(270deg) rotateX(180deg) rotateX(70deg);text-align: left; }
#lines .five p.face5text2 { -webkit-transform: translateY(150px) translateX(230px) rotateZ(270deg) rotateX(180deg) translateX(400px) rotateX(70deg);text-align: left; }

#profile-000 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateY(200px) translateZ(-100px); }

#profile-100 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateZ(-100px); }

#profile-010 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateY(200px) translateZ(0px); }

#profile-110 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateZ(0px); }

#profile-020 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateY(200px) translateZ(100px); }

#profile-120 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateZ(100px); }

#profile-030 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateY(200px) translateZ(200px); }

#profile-130 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateZ(200px); }

#profile-001 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateX(200px) translateY(200px) translateZ(-100px); }

#profile-101 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateX(200px) translateZ(-100px); }

#profile-011 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateX(200px) translateY(200px) translateZ(0px); }

#profile-111 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateX(200px) translateZ(0px); }

#profile-021 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateX(200px) translateY(200px) translateZ(100px); }

#profile-121 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateX(200px) translateZ(100px); }

#profile-031 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateX(200px) translateY(200px) translateZ(200px); }

#profile-131 { position:absolute; -webkit-transform-style: preserve-3d; -webkit-transform: translateX(200px) translateZ(200px); }

.profile {
	position:absolute;
	width:180px;
	height:180px;
	margin: 10px;
	background-size:180px 180px;
	-webkit-transform-style: preserve-3d;
}

.highlightBox .side1 {
	position:absolute;
	width:200px;
	height:200px;
	-webkit-transform-style:preserve-3d;
	background:url('../images/glassPurple.png') no-repeat;
    background-size: 100%;
}

.highlightBox .side2 {
	position:absolute;
	width:200px;
	height:200px;
	-webkit-transform-style:preserve-3d;
	background:url('../images/glassPurple.png') no-repeat;
    background-size: 100%;
	-webkit-transform:translateZ(-100px);
}

.highlightBox .top {
	position:absolute;
	width:200px;
	height:100px;
	-webkit-transform-style:preserve-3d;
	background:url('../images/glassPurple.png') no-repeat;
	background-size:200px 100px;
	-webkit-transform:translateY(-50px) translateZ(-50px) rotateX(90deg);
}
    
.highlightBox .bottom {
	position:absolute;
	width:200px;
	height:100px;
	-webkit-transform-style:preserve-3d;
	background:url('../images/glassPurple.png') no-repeat;
	background-size:200px 100px;
	-webkit-transform:translateY(150px) translateZ(-50px) rotateX(90deg);
}

.highlightBox				{ display:none; }
.highlightBox.selectedBox	{ display:inline; }

.profile-selected-left-purple { left: -50px; background: url('../images/patientDTripleBottomLeftPurple.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-left-pink { left: -50px; background: url('../images/patientDTripleBottomLeftPink.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-left-orange { left: -50px; background: url('../images/patientDTripleBottomLeftYellow.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-left-green { left: -50px; background: url('../images/patientDTripleBottomLeftGreen.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-left-top-purple { left: -50px; background: url('../images/patientCTripleTopPurple.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-left-top-pink { left: -50px; background: url('../images/patientCTripleTopPink.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-left-top-orange { left: -50px; background: url('../images/patientCTripleTopYellow.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-left-top-green { left: -50px; background: url('../images/patientCTripleTopGreen.png') no-repeat !important;background-size:180px 180px !important;}

.profile-selected-right-purple { left: 50px; background: url('../images/patientBTripleBottomRightPurple.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-right-pink { left: 50px; background: url('../images/patientBTripleBottomRightPink.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-right-orange { left: 50px; background: url('../images/patientBTripleBottomRightYellow.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-right-green { left: 50px; background: url('../images/patientBTripleBottomRightGreen.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-right-top-purple { left: 50px; background: url('../images/patientATripleTopPurple.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-right-top-pink { left: 50px; background: url('../images/patientATripleTopPink.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-right-top-orange { left: 50px; background: url('../images/patientATripleTopYellow.png') no-repeat !important;background-size:180px 180px !important;}
.profile-selected-right-top-green { left: 50px; background: url('../images/patientATripleTopGreen.png') no-repeat !important;background-size:180px 180px !important;}

#profile-000 .profile { background: url('../images/img-left-1-off-purple.png') no-repeat;background-size:180px 180px !important;}
#profile-100 .profile { background: url('../images/img-left-2-off-purple.png') no-repeat;background-size:180px 180px !important;}
#profile-010 .profile { background: url('../images/img-left-1-off-pink.png') no-repeat;background-size:180px 180px !important;}
#profile-110 .profile { background: url('../images/img-left-2-off-pink.png') no-repeat;background-size:180px 180px !important;}
#profile-020 .profile { background: url('../images/img-left-1-off-yellow.png') no-repeat;background-size:180px 180px !important;}
#profile-120 .profile { background: url('../images/img-left-2-off-yellow.png') no-repeat;background-size:180px 180px !important;}
#profile-030 .profile { background: url('../images/img-left-1-off-green.png') no-repeat;background-size:180px 180px !important;}
#profile-130 .profile { background: url('../images/img-left-2-off-green.png') no-repeat;background-size:180px 180px !important;}
#profile-001 .profile { background: url('../images/img-right-1-off-purple.png') no-repeat;background-size:180px 180px !important;}
#profile-101 .profile { background: url('../images/img-right-2-off-purple.png') no-repeat;background-size:180px 180px !important;}
#profile-011 .profile { background: url('../images/img-right-1-off-pink.png') no-repeat;background-size:180px 180px !important;}
#profile-111 .profile { background: url('../images/img-right-2-off-pink.png') no-repeat;background-size:180px 180px !important;}
#profile-021 .profile { background: url('../images/img-right-1-off-yellow.png') no-repeat;background-size:180px 180px !important;}
#profile-121 .profile { background: url('../images/img-right-2-off-yellow.png') no-repeat;background-size:180px 180px !important;}
#profile-031 .profile { background: url('../images/img-right-1-off-green.png') no-repeat;background-size:180px 180px !important;}
#profile-131 .profile { background: url('../images/img-right-2-off-green.png') no-repeat;background-size:180px 180px !important;}

#profile-000 .selectedPane { background: url('../images/img-left-1-purple.png') no-repeat;background-size:180px 180px !important;}
#profile-100 .selectedPane { background: url('../images/img-left-2-purple.png') no-repeat;background-size:180px 180px !important;}
#profile-010 .selectedPane { background: url('../images/img-left-1-pink.png') no-repeat;background-size:180px 180px !important;}
#profile-110 .selectedPane { background: url('../images/img-left-2-pink.png') no-repeat;background-size:180px 180px !important;}
#profile-020 .selectedPane { background: url('../images/img-left-1-yellow.png') no-repeat;background-size:180px 180px !important;}
#profile-120 .selectedPane { background: url('../images/img-left-2-yellow.png') no-repeat;background-size:180px 180px !important;}
#profile-030 .selectedPane { background: url('../images/img-left-1-green.png') no-repeat;background-size:180px 180px !important;}
#profile-130 .selectedPane { background: url('../images/img-left-2-green.png') no-repeat;background-size:180px 180px !important;}
#profile-001 .selectedPane { background: url('../images/img-right-1-purple.png') no-repeat;background-size:180px 180px !important;}
#profile-101 .selectedPane { background: url('../images/img-right-2-purple.png') no-repeat;background-size:180px 180px !important;}
#profile-011 .selectedPane { background: url('../images/img-right-1-pink.png') no-repeat;background-size:180px 180px !important;}
#profile-111 .selectedPane { background: url('../images/img-right-2-pink.png') no-repeat;background-size:180px 180px !important;}
#profile-021 .selectedPane { background: url('../images/img-right-1-yellow.png') no-repeat;background-size:180px 180px !important;}
#profile-121 .selectedPane { background: url('../images/img-right-2-yellow.png') no-repeat;background-size:180px 180px !important;}
#profile-031 .selectedPane { background: url('../images/img-right-1-green.png') no-repeat;background-size:180px 180px !important;}
#profile-131 .selectedPane { background: url('../images/img-right-2-green.png') no-repeat;background-size:180px 180px !important;}

.block-purple-left,
.block-purple-right,
.block-yellow-left,
.block-yellow-right,
.block-pink-left,
.block-pink-right,
.block-green-left,
.block-green-right { -webkit-transform: translateZ(-50px); }

.profile1 {
  -webkit-transform: translateZ(-25px);
}
.profile2 {
  -webkit-transform: translateZ(-50px);
}
.profile3 {
  -webkit-transform: translateZ(-75px);
}

#debug { position:absolute; right:0px; top:250px; width:280px; color:white; font-weight: bold; background-color:rgba(255,255,255,.3); height:300px; font-size: 18px; display: none;}

.selectedTag { color: #FDB825; }

#tags-state-1 {display:block;}
#tags-state-1 { font-family: 'FrutigerLTStd-Bold'; font-weight:normal;font-size:18px; }
#tags-state-1 .tagone { position:absolute; top:235px; left:60px; }     /* <= 12 Months */
#tags-state-1 .tagtwo { position:absolute; top:400px; left:60px; }     /* > 12 Months */
#tags-state-1 .tagthree { position:absolute; top:535px; left:140px; }  /* Bone */
#tags-state-1 .tagfour { position:absolute; top:570px; left:180px; }   /* Visceral */
#tags-state-1 .tagfive { position:absolute; top:595px; left:235px; }   /* Bone + Visceral */ 
#tags-state-1 .tagsix { position:absolute; top:615px; left:380px; }    /* Other */
#tags-state-1 .tagseven { position:absolute; top:600px; left:595px; }  /* Asymptomatic / Mild */
#tags-state-1 .tageight { position:absolute; top:525px; left:790px; }  /* Mild / Moderate */

#tags-state-2 {display:none;}
#tags-state-2 { font-family: 'FrutigerLTStd-Bold'; font-weight:normal;font-size:18px; }
#tags-state-2 .tagone { position:absolute; top:235px; left:60px; }
#tags-state-2 .tagtwo { position:absolute; top:400px; left:60px; }
#tags-state-2 .tagthree { position:absolute; top:515px; left:810px; }
#tags-state-2 .tagfive { position:absolute; top:590px; left:645px; }
#tags-state-2 .tagfour { position:absolute; top:555px; left:748px; }
#tags-state-2 .tagsix { position:absolute; top:615px; left:565px; }
#tags-state-2 .tagseven { position:absolute; top:545px; left:40px; }
#tags-state-2 .tageight { position:absolute; top:600px; left:250px; }

.profile-block { display:block; padding-top: 10px; padding-left: 10px; padding-bottom: 10px; padding-right: 10px; margin-top: 20px; margin-bottom: 20px; font-size: 12px; color: black; background-image:url('../images/profile3.png'); background-repeat: no-repeat; background-size: 239px auto; background-position-y:0px; height: 181px; width: 219px;}
.profile-block.A { display:block; padding-top: 10px; padding-left: 10px; padding-bottom: 10px; margin-top: 20px; padding-right: 10px; margin-bottom: 20px; font-size: 12px; color: black; background-image:url('../images/profileA.png'); background-repeat: no-repeat; background-size: 239px auto; background-position-y:0px; height: 181px; width: 219px;}
.profile-block.B { display:block; padding-top: 10px; padding-left: 10px; padding-bottom: 10px; margin-top: 20px; padding-right: 10px; margin-bottom: 20px; font-size: 12px; color: black; background-image:url('../images/profileB.png'); background-repeat: no-repeat; background-size: 239px auto; background-position-y:0px; height: 181px; width: 219px;}
.profile-block.C { display:block; padding-top: 10px; padding-left: 10px; padding-bottom: 10px; margin-top: 20px; padding-right: 10px; margin-bottom: 20px; font-size: 12px; color: black; background-image:url('../images/profileC.png'); background-repeat: no-repeat; background-size: 239px auto; background-position-y:0px; height:181px; width: 219px;}
.profile-block.D { display:block; padding-top: 10px; padding-left: 10px; padding-bottom: 10px; margin-top: 20px; padding-right: 10px; margin-bottom: 20px; font-size: 12px; color: black; background-image:url('../images/profileD.png'); background-repeat: no-repeat; background-size: 239px auto; background-position-y:0px; height:181px; width: 219px;}

.profile-block.active{background-position-y: -202px; }

.profile-block-selected { border: 1px solid; } 

.profile-block .title { color: #793393; font-weight: bold; font-size: 16px; width: 145px; padding-top: 5px;}
.profile-block .age {color: #793393; font-weight: bold; font-size: 16px; width: 145px; border-bottom: 1px solid #793393; margin-bottom: 6px; margin-left: 24px;}
.profile-block .prog { display: block; font-size: 14px;margin-left: 24px; width: 160px; }

.profile-block .loc {display: block;font-size: 14px;margin-left: 24px; width: 160px; }
.profile-block .symp {display: block;font-size: 14px;margin-left: 24px; width: 160px; }
.profile-block div strong {font-size: 14px;}

.profile-block .colortab {
    float: left;
    height: 65px;
    left: -15px;
    position: relative;
    top: 10px;
    width: 20px;
    -webkit-border-radius: 0px 7px 7px 0px;
    border: 2px solid #ffffff;
}

.profile-block .purpletab { background-color:#7f3f93; !important}
.profile-block .pinktab { background-color:#d45fef; !important}
.profile-block .yellowtab { background-color:#fdb825; !important}
.profile-block .greentab { background-color:#97cd51; !important}


li.dash:before { content: "\2014 \0020"; }
li.dash { list-style:square; margin-left:0; padding-left:32px; text-indent: -20px; }
li.dash.square { list-style-image: url(../images/white_square.png); text-indent: 0px;background-size:7px 9px; }

.shiftdown { padding-top: 2px; }

footer a		{ color:white; text-decoration:underline; font-size:11px; padding-left:35px; font-weight:normal; }
footer a.disabled { opacity:.5; pointer-events: none; text-decoration: none; }

#rotate-button {
    background-image:url('../images/rotateIcon.png');
    position:absolute;
    right:157px;
    top:57px;
    height:100px;
    width:100px;
    background-repeat:no-repeat;
    z-index: 100;
}
#rotate-button span {
    font-family:'FrutigerLTStd-Bold';
    font-weight:normal;
    font-size:13px;
	position:absolute;
    bottom:23px;
    left:17px;
}


/*
 * Page Curl
 */
 
#page-curl {
    position: absolute;
    bottom: 13px;
    right: 18px;
    width: 88px;
    height: 32px;
    background:url(../images/btn-rationale.png) no-repeat;
    background-size: 88px;
    z-index: 200;
}


#curl {
    width:86px;
    height:76px;
    position:absolute;
    background:url(../images/pagefold.png) no-repeat;
    background-size:86px 76px;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}

#curl.active {
	width:425px;
	height:546px;
	background-size: 234px 201px;
}

#refs {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color:#757584;
    color:#fff;
    padding:15px;
    line-height:19px;
    -webkit-transition: opacity 0.5s ease-out;
	-webkit-box-shadow:inset 0 0 5px #777;
    width: 538px;
}

#refs.active {
	width:1081px;
	height:876px;
	right:0px;
}

.description {
	position:relative;
	width:590px;
	height:545px;	
	font-family:HelveticaNeue;
    margin-top:35px;
}


body {
    padding: 0;
    margin: 0;
	color:#eee;
	font-size:0.825em;
	font-family: 'FrutigerLTStd-Cn';
}

#all {
    width: 680px;
    margin-left: 50px;
    margin-right: auto;
}

#page-flip {
    position: absolute;
    top: 65px;
    left:262px;
    width: 738px;
    height: 589px;
    overflow: hidden;
    opacity: 0.001;
    -webkit-transition: opacity 0.5s ease-out;
    -webkit-perspective: 900px;
    z-index: 1;
}

#r1 {
    position: absolute;
    z-index: 2;
    -webkit-transform-origin: 1315px 500px;
    -webkit-transform: translate(-1030px, -500px) rotate(45deg);
    -webkit-transition-property: -webkit-transform-origin, -webkit-transform;
    -webkit-transition-duration: 0.3s;
}

#p1 {
    width: 1935px;
    height: 1308px;
    overflow: hidden;
    -webkit-transition:width 0.3s;
}

#p1 > div {
    -webkit-transform-origin: 285px 0;
    -webkit-transform: translate(1030px, 500px) rotate(-45deg);
    -webkit-transition-property: -webkit-transform, -webkit-transform-origin;
    -webkit-transition-duration: 0.3s;
    width: 600px;
    height: 545px;
}

#p2 > div {
    width: 285px;
    height: 388px;
    -webkit-box-shadow: 0 0 11px rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 1;
}

#peel {
    position:absolute;
    right: -170px;
    top: 575px;
    width: 263px;
    height: 241px;
    z-index: -1;
    -webkit-transform: rotate(-49deg);
    background: url(../images/fold-big.png) no-repeat;
    background-size:100%;
}        


.close-profile2	{
	position:absolute;
	z-index:300;
	bottom:55px;
    width:107px;
	right:7px;
    height:32px;
    background: url('../images/btn-back.png') no-repeat;
    background-size: 107px 32px;
}

.title-header-cube{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1024px;
    height: 55px;
    margin: 0px;
    padding: 0px;
    background-color: #6d2d8d;
}

.title-header-cube p{
    color: #ffffff;
    font-size: 15px;
    font-family: "Arial";
    position: absolute;
    top: 14px;
    left: 18px;
}

.title-footer-cube{
    color: #ffffff;
    font-size: 15px;
    font-family: "FrutigerLTStd-Cn";
    position: absolute;
    bottom: 5px;
    left: 10px;
  z-index: 1000;
}
.title-footer-cube a{z-index: 1000; color: #ffffff; text-decoration: underline;}

.close-cube-popup{
    position: absolute;
    top: 70px;
    right: 20px;
    width: 46px ;
    height: 46px;
    background-image: url("../images/close@2x.png?123");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 45px;
    z-index: 901;
}



/* footer */
footer.cube-footer {
    box-sizing: border-box !important;
    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    width:100% !important;
    padding: 0 15px 0 0 !important;
    text-align: right !important;
}

footer.cube-footer a {
    display: inline-block !important;
    width: 100px !important;
    height: 25px !important;
    font-family: "HelveticaNeue-Bold" !important;
    font-weight: bold !important;
    text-align: center !important;
    font-size:11px !important;
    line-height: 25px !important;
    color:#5c3071 !important;
    text-decoration: none !important;
    background: url("../images/footer-btn-notes.png") 0 0 no-repeat !important;
}

footer #footnotes{top: -14px !important; padding-top: 0px !important;}
footer #references{top: -14px !important; padding-top: 0px !important;}
footer .links{bottom:-17px !important; right: 30px !important;}

.overlay{
  background-color: rgba(0, 0, 0, 0.50);
  width: 1024px;
  height: 768px;
}

#preload_img{
  z-index: 2;
  background:url(../images/Preview_cube.png) 0 0 no-repeat;
  width: 1024px;
  height: 768px;
  background-size: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2)
{
  #preload_img { background:url(../images/Preview_cube@2x.png) 0 0 no-repeat;background-size: 100%; }
}
