#navigation {
	position: absolute;
	top: 688px;
	left: 0;
}

#homeButton {
	position: absolute;
	top: 17px;
	left: 6px;
	width: 54px;
	height: 45px;
}

#isiButton {
	position: absolute;
	top: 0;
	left: 113px;
	width: 712px;
	height: 80px;
}

#cubeButton {
	position: absolute;
	top: 17px;
	left: 849px;
	width: 54px;
	height: 45px;
}

#piButton {
	position: absolute;
	top: 17px;
	left: 904px;
	width: 54px;
	height: 45px;
}

#exitButton {
	position: absolute;
	top: 17px;
	left: 960px;
	width: 54px;
	height: 45px;
}
