
				

/*Footnote & References */
body {margin:0;padding:0;}
#wrapper { overflow:hidden; display:block; width:1024px; height:689px; position:relative; background:#FFF; z-index:0; top: 0; left: 0; visibility:visible; }
#container { padding:30px 0 0 0; }
#overlay, .overlay { width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,0.55); z-index: 999999; visibility: hidden; display: none;}
.no_overlay #overlay { display: none;}
.overlay_on #overlay { visibility: visible; display: block;}
.overlay_off #overlay { visibility: visible; -webkit-animation-name: overlay_off; -webkit-animation-duration: 0.5s; -webkit-animation-timing-function: ease-in; display: block;}
#overlay .footnoteOverlayContainer { position:absolute; left:40%; top:35%; display:block; height:486rpx; width:903px; padding:10px; margin:-200px 0 0 -362px; color:#000000; font-size:18px; line-height:24px; background:#FFF; -webkit-box-shadow:5px 5px 2px rgba(000,000,000, 0.2), inset 2px 2px 5px rgba(000,000,000, 0.2);}
#overlay .referenceOverlayContainer { position:absolute; left:40%; top:56%; display:block; height:322px; width:903px; padding:10px; margin:-200px 0 0 -362px; color:#000000; font-size:18px; line-height:24px; background:#FFF; -webkit-box-shadow:5px 5px 2px rgba(000,000,000, 0.2), inset 2px 2px 5px rgba(000,000,000, 0.2);}

@-webkit-keyframes overlay_on {  0% { opacity: 0; } 100% { opacity: 1; } }
@-webkit-keyframes overlay_off {  0% {  opacity: 1; }  100% {  opacity: 0; } }
.popH1 { background-image:url(../images/orangeHeader.png); width:100%; height:48px; font-weight:normal; color:#83389b; font-size:22px;
		 margin-top:0px; text-align:center; line-height:50px; font-family: 'FrutigerLTStd-BoldCn'; margin-bottom:10px; }
.popTitle { float: left; width:85%; text-align:center; padding-left:55px; }
.popClose { float:right; padding-top:5px; }

.chart {
    position: absolute;
    top: 65px;
    left: 10px;
}


.reference  { background-color:#e6d7eb; width:100%px; position:relative; text-align:left; font-family:HelveticaNeue; font-size:16px;
			   padding-top:10px; padding-left:0px; line-height:17px; height:255px;font-family: 'FrutigerLTStd-Roman'; }
/*.refadjust {  margin-top:-350px !important; }*/
.reference span { font-weight: normal;font-family: 'FrutigerLTStd-Roman'; }
.reference li { padding-bottom:15px; font-weight:normal; margin-right:15px;font-family: 'FrutigerLTStd-BoldCn'; }
.adjustRight { padding-left:37px; }
.adjustRight2 { padding-left:38px; }

.adjustDown { padding-top:20px; }
.dagger { padding-left:29px; padding-right:1px; }
.topFootnote { padding-left:28px; padding-right:1px; }
.numberSign { padding-left:31px; padding-right:1px; }
.dbar { padding-left:30px; padding-right:1px;}
.asterisk { padding-left:22px; padding-right:1px; }


.footnote  { background-color:#e6d7eb; width:100%px; position:relative; text-align:left; font-family:HelveticaNeue; font-size:16px;
				padding-top:20px; line-height:17px; height:408px;font-family: 'FrutigerLTStd-Roman'; }
.footnote b {font-family: 'FrutigerLTStd-BoldCn';font-weight:normal;}

#clickable { width:100%; height:100%; position:absolute; top: 0; left: 0; background:transparent; }
#whiteLogo	{ background-image:url(../images/logoWhite.png); width:136px; height:68px; 
	position:absolute; bottom: 9px; right: 25px; }
