<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Faslodex Home</title>
        <meta name="viewport" content="width=1024, height=768, initial-scale=1, user-scalable=no">
        <link href="../css/global.css" type="text/css" rel="stylesheet" media="all"/>
        <link href="css/styles.css" type="text/css" rel="stylesheet" media="all"/>

        <script type="text/javascript" src="../js/jquery-2.1.0.js"></script>
        <script type="text/javascript" src="../js/underscore.js"></script>

        <script src="js/jquery.mobile.custom.min.js" type="text/javascript" ></script>
        <script language="javascript" type="text/javascript">
            document.addEventListener('DOMContentLoaded', loaded, false);
            _.templateSettings.variable = "m";
            var profileTemplate;
            var detailTemplate;

            var images = new Array();
            var patients;
            function handleProfileDataLoaded(data, textStatus, jqXHR){
                patients = data.patients;
                $.each(patients, function(index, el){
                    var renderedFolder = profileTemplate(el);
                    $('.p' + index).html(renderedFolder);
                });
            }

            var concavify;
            function loaded(){

                profileTemplate = _.template($('#profileTemplate').html());
                detailTemplate = _.template($('#detailTemplate').html());
                $.getJSON('patients.json', handleProfileDataLoaded);

                var $profileHolders = $('.profile-holder');
                var $concave = $('.concave');

                var totalWidth = $concave.outerWidth();
                var columnWidth = totalWidth*0.1;

                var horizontalCenter = totalWidth/2.0;

                var totalHeight = $concave.outerHeight();
                var verticalCenter = totalHeight/2.0;

                var minScale = 0.7;
                var maxRotateY = 30;
                concavify = function (){
                    $.each($profileHolders, function(index, value){
                        var $value = $(value);
                        var itemWidth = $value.outerWidth();

                        var position = $value.position();
                        var itemLeftAverage = position.left + ((itemWidth)/2);

                        var itemHeight = $value.outerHeight();
                        var itemTopAverage = position.top + (itemHeight/2);

                        var percentFromCenterX = (horizontalCenter - itemLeftAverage)/horizontalCenter;
                        var rotateY = maxRotateY * percentFromCenterX;

                        var scaleY = ((1-minScale)*Math.abs(percentFromCenterX) + minScale);

                        var isOnTop = (verticalCenter - itemTopAverage) >= 0;

                        var translateY = (itemHeight - (itemHeight * scaleY))/2 * (isOnTop ? 1: -1);

                        $value.css('-webkit-transform', 'rotateY('+ rotateY + 'deg) scaleY('+ scaleY + ') translateY(' + translateY + 'px)');
                        $value.css('transform', 'rotateY('+ rotateY + 'deg) scaleY('+ scaleY + ') translateY(' + translateY + 'px)');
                    });
                };
            }



            var currentSlide = 0;
            var $slides = $('.slideflow .slide');
            var totalSlides = $slides.length;

            var _slideWidth = 0;
            var _slideMargin = 0;

            function calculateSlideOffset(){
                var offset = 0;
                for (var i = 0; i < currentSlide; i++){
                    offset += _slideWidth - _slideMargin;
                }
                return -offset;
            }

            function jumpToSlide(slideIndex){
                $slides.removeClass('active left right');
                $slides.eq(currentSlide).addClass('active');
                $slides.eq(currentSlide).prevAll().addClass('left');
                $slides.eq(currentSlide).nextAll().addClass('right');
                $slides.css('left', calculateSlideOffset());
            }

            function nextSlide(){
                currentSlide++;
                if (currentSlide >= totalSlides){
                    currentSlide = 0;
                }
                jumpToSlide(currentSlide);
            }

            function previousSlide(){
                currentSlide--;
                if(currentSlide < 0){
                    currentSlide = totalSlides - 1;
                }
                jumpToSlide(currentSlide);
            }

            function handleSwipeRight(e){
                previousSlide();
            }

            function handleSwipeLeft(e){
                nextSlide();
            }

            function handleStartSwipe(e){
                SystemBridge.disableSwipeToPage();
            }
            function handleEndSwipe(e){
                SystemBridge.enableSwipeToPage();
            }

            function SlideFlow(slideWidth, slideMargin){
                $('.slideflow').off('touchstart').on('touchstart', handleStartSwipe);
                $('.slideflow').off('touchend').on('touchend', handleEndSwipe);
                $('.slideflow').off('swipeleft').on('swipeleft', handleSwipeLeft);
                $('.slideflow').off('swiperight').on('swiperight', handleSwipeRight);

                currentSlide = 0;
                $slides = $('.slideflow .slide');
                totalSlides = $slides.length;

                _slideWidth = slideWidth;
                _slideMargin = slideMargin;
            }


            function bindSwitchControls (){
                $('.profile-selector-controls button').click(function(e){
                    var $button = $(e.target).closest('button');
                    if ($button.hasClass('active')){
                        $button.removeClass('active');
                    }else{
                        var $switchContainer = $button.closest('.switch');
                        $('button', $switchContainer).removeClass('active');
                        $button.addClass('active');
                    }
                    handleSwitchUpdates();
                });

                $('.reset-button').click(function(e){
                    $('.profile-selector-controls button').removeClass('active');
                    handleSwitchUpdates();
                });
            }

            var slideFlowActive = false;

            function handleSwitchUpdates(){
                var site = $('.switch-site button.active');
                var siteValue  = site.length ? site.data('value') : "0";

                var time = $('.switch-time button.active');
                var timeValue = time.length ? time.data('value') : "0";

                var symptom = $('.switch-symptom button.active');
                var symptomValue = symptom.length ? symptom.data('value') : "0";

                var selectedProfiles = patients;
                if(siteValue > 0) {
                    var selectedBySite= _.where(patients, {"siteValue": siteValue});
                    selectedProfiles = _.intersection(selectedProfiles, selectedBySite);
                }
                if(timeValue > 0) {
                    var selectedByTime = _.where(patients, {"timeValue": timeValue});
                    selectedProfiles = _.intersection(selectedProfiles, selectedByTime);
                }
                if(symptomValue > 0) {
                    var selectedBySymptom = _.where(patients, {"symptomValue": symptomValue});
                    selectedProfiles = _.intersection(selectedProfiles, selectedBySymptom);
                }

                if(siteValue > 0 && timeValue > 0 && symptomValue > 0){
                    var slideHtml ="";
                    _.each(selectedProfiles, function(element, index, list){
                        slideHtml += profileTemplate(element);
                    });
                    $('.slideflow').html('').append(slideHtml);
                    $('.slideflow .slide').not(':first-child').addClass('right');
                    $('.slideflow .slide:first-child').addClass('active');
                    _.each($('.slideflow .slide'), function(element, index, list){
                        new NoClickDelay(element);
                    });

                    $('.slideflow .slide').on('click', handleSlideClick);

                    var flow = new SlideFlow(423, 160);
                    if(!slideFlowActive){
                        swapInSlideFlow();
                    }else{
                        $('.slideflow').fadeOut(100, function(){
                            $('.slideflow').fadeIn(100);
                        });
                    }
                }else if(siteValue == 0 && timeValue == 0 && symptomValue == 0) {
                    $('.profile').removeClass('faded');
                    if(slideFlowActive){
                        swapOutSlideFlow();
                    }
                }else{
                    var profilesToFadeOut = _.difference(patients, selectedProfiles);

                    $('.profile').removeClass('faded');

                    _.each(profilesToFadeOut, function(element, index, list){
                        $('#profile' + element.id).addClass('faded');
                    });
                    if(slideFlowActive){
                        swapOutSlideFlow();
                    }
                }
            }

            function swapInSlideFlow(){
                $('.concave-wrapper').fadeOut(100, function(){
                    $('.slideflow').fadeIn(100);
                });
                slideFlowActive = true;
            }

            function swapOutSlideFlow(){
                $('.slideflow').fadeOut(100, function(){
                    $('.concave-wrapper').fadeIn(100);
                });
                slideFlowActive = false;
            }

            function handleSlideClick(e){
                var $slide = $(e.target).closest('.slide');
                var profileId = $slide.data('profile-id');
                var patient = _.find(patients, function(p){ return p.id == profileId; });
                var detailHtml = detailTemplate(patient)
                $('.profile-detail-wrapper').html(detailHtml);
                $('.profile-selector-wrapper').fadeOut(100, function(){
                    $('.profile-detail-wrapper').fadeIn(100);
                });
            }

            function gotFocus() {
                bindSwitchControls();
                concavify();
            }

            function lostFocus(){

            }
        </script>
    </head>

    <body>
        <div id="mainContainer" class="maincontainer-w">
            <div class="profile-selector-wrapper">
                <div class="title">
                    <h1><span class="matching">16</span> profiles match your selected patient characteristics</h1>
                    </div>
                    <div class="concave-wrapper">
                        <div class="concave">
                            <div class="profile-holder p1 large">
                            </div>
                            <div class="profile-holder p2 medium">
                            </div>
                            <div class="profile-holder p3 small">
                            </div>
                            <div class="profile-holder p4 small" >
                            </div>
                            <div class="profile-holder p5 small" >
                            </div>
                            <div class="profile-holder p6 small" >
                            </div>
                            <div class="profile-holder p7 medium" >
                            </div>
                            <div class="profile-holder p8 large" >
                            </div>
                            <div class="profile-holder p9 small" >
                            </div>
                            <div class="profile-holder p10 small" >
                            </div>
                            <div class="profile-holder p11 small" >
                            </div>
                            <div class="profile-holder p12 small" >
                            </div>
                            <div class="profile-holder p13 large" >
                            </div>
                            <div class="profile-holder p14 small" >
                            </div>
                            <div class="profile-holder p15 small" >
                            </div>
                            <div class="profile-holder p16 medium" >
                            </div>
                        </div>
                    </div>
                    <div class="slideflow">
                    </div>
                    <button class="reset-button">
                        RESET ALL
                    </button>
                    <div class="profile-control-groups">
                        <div class="profile-selector-controls switch switch-site">
                            <p>Site of Metastatis</p>
                            <button class="left" data-value="1">Bone</button>
                            <button data-value="2">Visceral</button>
                            <button class="right" data-value="3">Other</button>
                        </div>
                        <div class="profile-selector-controls switch switch-time">
                            <p>Time to Recurrence/Progression</p>
                            <button class="left" data-value="1">&lt;12 Months</button>
                            <button class="right" data-value="2">&ge;12 Months</button>
                        </div>
                        <div class="profile-selector-controls switch switch-symptom">
                            <p>Symptoms</p>
                            <button class="left" data-value="1">Mild/Moderate</button>
                            <button class="right" data-value="2">Moderate/Severe</button>
                        </div>
                    </div>
                    <!--ISI
                    <div class="ISI">
                        <h1>Please see full Important Safety Information and full Prescribing information for <span>FASLODEX</span>.</h1>
                    </div>
                    -->
                </div>

                <div class="profile-detail-wrapper">

                </div>
            </div>

            <script>
                $.each($('.profile-selector-controls button, .reset-button'), function(index, el){
                   new NoClickDelay(el);
                });
            </script>

            <script type="text/template" id="profileTemplate">
                <div class="profile slide" id="profile<%- m.id %>" data-profile-id="<%- m.id %>">
                    <div class="folder-title">
                        <p>Patient:</p>
                        <h2><%- m.title %></br>
                            Age <%- m.age %></h2>
                        </div><div class="folder-details">
                        <p><strong><%- m.progType %>:</strong> <%= m.prog %></p>
                        <p><strong>Site of Metastases:</strong> <%- m.loc %></p>
                        <p><strong>Symptoms:</strong> <%- m.symp %></p>
                    </div>
                    <div class="folder-conclusion">
                        <p><%- m.title %> could be considered a candidate for FASLODEX 500 mg</p>
                    </div>
                    <img class="folder-image" src="<%= m.image.src %>"/>
                </div>
            </script>

            <script type="text/template" id="detailTemplate">
                <div class="profile-detail">
                    <img src="<%= m.image.src %>"/>
                </div>
            </script>
        </body>
    </html>
